*{
    margin: 0;
    padding: 0;
    font-family: "arial", "sans-serif";
    box-sizing: border-box;
}

.header{
    height: 100vr;
    width: 100%;
    padding: 0 8%;

    border-bottom: 3px solid #3263aa;
    background: #080008;
    position: relative;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-links{
    padding: 0;
}
.nav-links li{
    display: inline-block;
    margin: 0 15px;
}

.nav-links li a {
    text-decoration: none;
    size: 12px;
    font-weight: bold;
    color: #3263aa;
    padding: 5px 0;
    position: relative;
}

.nav-links li a::after{
    content: '';
    background: #03afe3;
    width: 0;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.5s;
}

.nav-links li a:hover::after{
    width: 100%;
}
.logo-image{
    width: 300px;
}

.side-menu{
    display: flex;
    align-items: top;
    justify-content: center;
    position: fixed;
    padding-top: 3%;
    width: 25%;
    height: 100%;
    background-color: #080008;
    vertical-align: middle;
}
.side-menu ul{
    vertical-align: middle;
    list-style: none;
}
.side-menu ul li {
    vertical-align: middle;
}
.side-menu ul li button{
    float: left;
    padding: 20px 50px;
    margin: 15% 10%;

    background-color: #080008;
    color: #03afe3;
    font-size: large;

    border-color: #3263aa;

    

}

.side-menu ul li button:hover{
    background-color: #380938;
}

.side-menu ul li button:active{
    border-color: #380938;
}