*{
    margin: 0;
    padding: 0;
    font-family: "arial", "sans-serif";
    box-sizing: border-box;
}


.header{
    height: 100vr;
    width: 100%;
    padding: 0 8%;

    border-bottom: 3px solid #3263aa;
    background: #080008;
    
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-links{
    padding: 0;
}
.nav-links li{
    display: inline-block;
    margin: 0 15px;
}

.nav-links li a {
    text-decoration: none;
    size: 12px;
    font-weight: bold;
    color: #3263aa;
    padding: 5px 0;
    position: relative;
}

.nav-links li a::after{
    content: '';
    background: #03afe3;
    width: 0;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.5s;
}

.nav-links li a:hover::after{
    width: 100%;
}
.logo-image{
    width: 300px;
}
#blok1{
    height: 100%;
    background: #03afe3;
}

.side-menu{
    display: flex;
    align-items: top;
    justify-content: center;
    padding-top: 3%;
    width: 25%;
    height: 720px;
    background-color: #080008;
    float: left;
    vertical-align: middle;
}
.side-menu ul{
    vertical-align: middle;
    list-style: none;
}
.side-menu ul li {
    vertical-align: middle;
}
.side-menu ul li button{
    float: left;
    padding: 20px 50px;
    margin: 15% 10%;

    background-color: #080008;
    color: #03afe3;
    font-size: large;

    border-color: #3263aa;

    

}

.side-menu ul li button:hover{
    background-color: #3263aa;
    border-color: white;
    color: white;
    transition: 0.3s;
}

.side-menu ul li button:active{
    border-color: #380938;
}

.display-div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 20px;
    padding: 5px;
    height: 720px;
    width: 75%;
    float: right;
    background-image: url('../bg2.jpg');
    background-size: cover;
    background-position: center;
}

 .display-div img{
    margin: 7px;
 }
  .display-div h1, h2, h3{
    margin-top: 15px;
    color: #03afe3;
  }
  .display-div h1{
    font-size: 25px;
  }
  .display-div h2{
    font-size: 20px;
  }
  .display-div h3{
    font-size: 15px;
  }

  .display-div button{
    margin: 5px auto;
    width: 50px;
    line-height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: space-around;
    background-color: #008a2c;
    border-color: #008a2c;
    font-size: 25px;
    color: white;
  }
  .display-div button:hover{
    transition: 0.3s;
  }
  .inner-div{
    margin: 30px auto;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.536);
    width: 60%;
  }
  .inner-div img{
    height: 270px;
  }